@{
    ViewBag.Title = "Home Page";
    var bookCatalogTable = "BookCatalogTable";
}
<style>
    td.details-control {
        text-align: center;
        color: forestgreen;
        cursor: pointer;
        font-size: x-large;
    }

    tr.shown td.details-control {
        text-align: center;
        color: red;
        font-size: x-large;
    }

    td.edit-control {
        color: forestgreen;
        font-size: x-large;
        text-align: center;
        cursor: pointer;
    }

    td.remove-control {
        color: red;
        font-size: x-large;
        text-align: center;
        cursor: pointer;
    }

    i.edit-author-control {
        color: forestgreen;
        font-size: x-large;
        text-align: center;
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <button class="btn btn-success col-md-12" id="newBookBtn">New book</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <button class="btn btn-primary col-md-12" id="newAuthorBtn">New author</button>
        </div>
    </div>
</div>
<div id="editBookDialog" title="Create Book"></div>
<div id="editAuthorDialog" title="Create Author"></div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="form-horizontal clearfix">
                        @Html.Partial("_BookCatalogTable", bookCatalogTable)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        bookCatalog.setUrlForTable({
            getBookResultTable: "@Url.Action("GetBookResultTable", "Book")",
            getAuthorsList: "@Url.Action("GetAuthorsList", "Book")",
            updateBook: "@Url.Action("SaveBook", "Book")",
            updateAuthor: "@Url.Action("SaveAuthor", "Book")",
            removeBook: "@Url.Action("RemoveBook", "Book")"
        });
        bookCatalog.InitBookTable();
        bookCatalog.InitEditBookModal();
        bookCatalog.InitEditAuthorModal();
        bookCatalog.getAuthorsList();
    });
</script>