@{
    ViewBag.Title = "Home Page";
    var bookCatalogTable = "BookCatalogTable";
}
<style>
    td.details-control {
        text-align: center;
        color: forestgreen;
        cursor: pointer;
        font-size: x-large;
    }

    tr.shown td.details-control {
        text-align: center;
        color: red;
        font-size: x-large;
    }

    td.edit-control {
        color: forestgreen;
        font-size: x-large;
        text-align: center;
        cursor: pointer;
    }

    td.remove-control {
        color: red;
        font-size: x-large;
        text-align: center;
        cursor: pointer;
    }
</style>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            Search: 
        </div>
        <div class="col-md-6">
            <input type="text" id="searchInput">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <button class="btn btn-success col-md-12" id="newBookBtn">New book</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <button class="btn btn-primary col-md-12" id="newAuthorBtn">New author</button>
        </div>
    </div>
</div>
<div id="editBookDialog" title="Create Book"></div>
<div id="editAuthorDialog" title="Create Author"></div>

<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="form-horizontal clearfix">
                        @Html.Partial("_BookCatalogTable", bookCatalogTable)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        bookCatalog.setUrlForTable({
            getBookResultTable: "@Url.Action("GetBookResultTable", "Book")",
            getAuthorsList: "@Url.Action("GetAuthorsList", "Book")",
            updateBook: "@Url.Action("SaveBook", "Book")",
            updateAuthor: "@Url.Action("SaveAuthor", "Book")"
        });
        bookCatalog.InitBookTable();
        bookCatalog.InitEditBookModal();
        bookCatalog.InitEditAuthorModal();
        bookCatalog.getAuthorsList();
    });
</script>